    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/FlorRamirez.png" class="img-fluid" id="fotoperfil">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="nombre">Florencia Ailin Ramirez</p>
            <p>Full Stack Developer Jr</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">>
            <span>
                <h1>Acerca de mi</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Ea vero voluptates ipsa veniam explicabo accusamus ab mollitia nobis! 
                    Cum maiores hic illo temporibus fuga eveniet beatae facilis nostrum dicta a?</p>
            </span>
        </div>
    </div>

