   <div class="row">
 <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - <h3>(años)</h3>
            </li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda
                 repellendus eius quam rerum magni voluptates blanditiis 
                explicabo rem id sit neque voluptatibus totam quas, enim maiores quae odio eos earum.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2</h1> - <h3>(años)</h3>
            </li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda
                 repellendus eius quam rerum magni voluptates blanditiis 
                explicabo rem id sit neque voluptatibus totam quas, enim maiores quae odio eos earum.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 3</h1> - <h3>(años)</h3>
            </li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda
                 repellendus eius quam rerum magni voluptates blanditiis 
                explicabo rem id sit neque voluptatibus totam quas, enim maiores quae odio eos earum.
            </p>
        </ul>
    </div>
</div>
